<%- include("_header") -%>

<h1>About </h1>
<section>
    <p>Web application to record students' details. In this app you will be able to CREATE, READ, UPDATE and DELETE the student record.</p>
    <img src="https://t3.ftcdn.net/jpg/02/71/24/92/360_F_271249240_1Gf6tyXvNpzdmSwWKsIvnygqgTkOx9go.jpg">
</section>

<%- include("_footer") -%>